Options -Indexes 
ErrorDocument 404 /404.php

<IfModule mod_php5.c>
	php_flag allow_call_time_pass_reference 1
	php_flag session.use_trans_sid off

	#php_value display_errors 1

	#php_value mbstring.internal_encoding UTF-8
</IfModule>

<IfModule mod_rewrite.c>

	RewriteEngine On

	#Добавляем слеш в конце урл
	RewriteBase /

	RewriteRule ^stomatology/kids/hirurgia/udalenie-zubov/$ /stomatology/kids/udalenie-zubov/ [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !(.*)/$
    RewriteRule ^(.*[^/])$ $1/ [L,R=301]
    #Добавляем слеш в конце урл
    #Удаляем несколько слешей подряд
    RewriteCond %{THE_REQUEST} ([^\s]*)\/{2,}(\?[^\s]*)?
    RewriteRule (.*) %1 [R=301,L]
    #Удаляем несколько слешей подряд
    Options +FollowSymLinks
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !/bitrix/urlrewrite.php$
	RewriteRule ^(.*)$ /bitrix/urlrewrite.php [L]
	RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]

</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresByType image/jpeg "access plus 3 day"
	ExpiresByType image/gif "access plus 3 day"
</IfModule>

Redirect 301 /voprosy-i-otvety /questions/
Redirect 301 /stati /articles/
Redirect 301 /vrac /personal/
Redirect 301 /form /
Redirect 301 /reviews/add /add_review/
Redirect 301 /otzyvy /reviews/
Redirect 301 /akcia /akcii
Redirect 301 /clinics/klinika-na-bolshoj-pr-petrogradskoj-storony /clinics/
Redirect 301 /stomatology/ortodontija/lingvalnaya-breket-sistema /stomatology/ortodontija/