.fixUrlClass {
    font-weight: bold !important;
    color: #d82043 !important;
}
.toggleH2 .content_toggle {
    width: 100%;
    display: block;
    color: white;
    background: #e14361;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}