.normPage__container {
    background: url("/themes/my_theme/bem/blocks/normPage/img/bg.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.normPage__title {
    padding-top: 100px;
    padding-bottom: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .normPage__title {
        padding-top: 50px;
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .normPage__title {
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .normPage__title {
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

.normPage__center {
    display: -webkit-flex;
    display: flex;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .normPage__center {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .normPage__center {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.normPage__leftSidebar {
    -webkit-flex-basis: 30%;
    flex-basis: 30%;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .normPage__leftSidebar {
        display: none;
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .normPage__leftSidebar {
        display: none;
    }
}

.normPage__content {
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px 30px 20px;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .normPage__content {
        padding: 0;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        -webkit-flex: auto;
        flex: auto;
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .normPage__content {
        padding: 0;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        -webkit-flex: auto;
        flex: auto;
    }
}

.normPage__bottomMobile {
    display: none;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .normPage__bottomMobile {
        display: block;
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .normPage__bottomMobile {
        display: block;
    }
}

.makeImg {
    width: 325px;
    height: 325px;
    background: url(/local/templates/main/images/zapis_img.jpg) no-repeat center center;
    -moz-box-shadow: 2px 3.464px 36px 4px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 2px 3.464px 36px 4px rgba(0, 0, 0, 0.06);
    box-shadow: 2px 3.464px 36px 4px rgba(0, 0, 0, 0.06);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.makeImg__text {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 80px 120px 20px 30px;
}

.makeImg__text1 {
    display: block;
    font-size: 15px;
    font-family: "ralewayregular", sans-serif;
    color: #d82043;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 6px;
}

.makeImg__text2 {
    display: block;
    font-size: 11px;
    font-family: "ralewayregular", sans-serif;
    color: #777777;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.makeImg__actions {
    text-align: center;
    -webkit-flex-basis: 100px;
    flex-basis: 100px;
    display: -webkit-flex;
    display: flex;
}

.makeImg__button {
    margin: auto;
}

.makeform {
    -moz-box-shadow: 2px 3.464px 36px 4px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 2px 3.464px 36px 4px rgba(0, 0, 0, 0.06);
    box-shadow: 2px 3.464px 36px 4px rgba(0, 0, 0, 0.06);
    background: #fbfbfb;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.makeform__clinic {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 15px 20px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.makeform__clinic label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    color: #777777;
}

.makeform__clinic .ajax-progress-throbber {
    position: absolute;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    z-index: 5;
    top: 0;
    padding: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    background: #fbfbfb;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
}

.makeform__clinic .ajax-progress-throbber .throbber {
    opacity: 0.2;
    background-image: url(/themes/my_theme/bem/blocks/makeform/img/preloader.gif);
    background-repeat: no-repeat;
    background-size: 32px 8.5px;
    width: 32px;
    height: 8.5px;
    padding: 0;
    margin: auto;
    display: block;
    height: 100%;
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .makeform__clinic {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }
}

.makeform__service {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding: 15px 20px 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: relative;
}

.makeform__service label {
    font-size: 12px;
    margin-bottom: 5px;
    display: block;
    color: #777777;
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .makeform__service {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        padding: 0 20px 5px;
    }
}

.makeform select {
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 12px;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 30px 10px 12px;
    outline: none;
    width: 100%;
    background: #f6f6f6 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAflBMVEVHcEzYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEP80T9/AAAAKXRSTlMAE0A4/YoH1wX7fo1O+MwM0jU9nuaQ2OIssFWXoie86KUQW4VlG+xzYODF1uMAAAFiSURBVHhe7dHbjoIwEIBhrUBpASyAHAXB87z/C2526GxjqvVur5gb06Z/Pks3/zHrrLNl124I3WfCobuyLa1u52JsZeZswky2Y3G+Lauha+8iUbJxNGEjVSLubTfg8jGdAECkMvucZDIVAFBOD1yOJfxOksomeB8EjUwTPFSPuFEBUPPByaiAROFGWwnAEeTYBp1QR9w6+9zlBPmFDOCXbnmV/MCFaebXYmYXpQvBD7l+mf3OOKqPcZdmGxf8z/B3e9oPjQOnAhtTnMAY+HKWA/WEjS6mGmyDHEVOiY42SjIUGW+dEh00SstwOW6DnMqj5hjPc3ykwqu0YTks4uTU/fPZ12TwiGnDcjKfa0fUaVoLbXA/M4btUAP0Cx4ZnxzTmGIxHI56aTyFhmuCXYTfjYoq2gWbLxOw5RvQzRkVbgcbLCzD4ViGe0K8D96Dbv7dyX0OwP3cMhwN6znvrX+1zjo/Wlk/YhFeGAEAAAAASUVORK5CYII=');
    background-position: 98% center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    border: 1px solid #dedede;
    color: #464646;
    cursor: pointer;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.makeform select:hover {
    background: #ececec url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAflBMVEVHcEzYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEP80T9/AAAAKXRSTlMAE0A4/YoH1wX7fo1O+MwM0jU9nuaQ2OIssFWXoie86KUQW4VlG+xzYODF1uMAAAFiSURBVHhe7dHbjoIwEIBhrUBpASyAHAXB87z/C2526GxjqvVur5gb06Z/Pks3/zHrrLNl124I3WfCobuyLa1u52JsZeZswky2Y3G+Lauha+8iUbJxNGEjVSLubTfg8jGdAECkMvucZDIVAFBOD1yOJfxOksomeB8EjUwTPFSPuFEBUPPByaiAROFGWwnAEeTYBp1QR9w6+9zlBPmFDOCXbnmV/MCFaebXYmYXpQvBD7l+mf3OOKqPcZdmGxf8z/B3e9oPjQOnAhtTnMAY+HKWA/WEjS6mGmyDHEVOiY42SjIUGW+dEh00SstwOW6DnMqj5hjPc3ykwqu0YTks4uTU/fPZ12TwiGnDcjKfa0fUaVoLbXA/M4btUAP0Cx4ZnxzTmGIxHI56aTyFhmuCXYTfjYoq2gWbLxOw5RvQzRkVbgcbLCzD4ViGe0K8D96Dbv7dyX0OwP3cMhwN6znvrX+1zjo/Wlk/YhFeGAEAAAAASUVORK5CYII=');
    background-position: 98% center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.makeform select:active {
    background: #ececec url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAflBMVEVHcEzYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEPYIEP80T9/AAAAKXRSTlMAE0A4/YoH1wX7fo1O+MwM0jU9nuaQ2OIssFWXoie86KUQW4VlG+xzYODF1uMAAAFiSURBVHhe7dHbjoIwEIBhrUBpASyAHAXB87z/C2526GxjqvVur5gb06Z/Pks3/zHrrLNl124I3WfCobuyLa1u52JsZeZswky2Y3G+Lauha+8iUbJxNGEjVSLubTfg8jGdAECkMvucZDIVAFBOD1yOJfxOksomeB8EjUwTPFSPuFEBUPPByaiAROFGWwnAEeTYBp1QR9w6+9zlBPmFDOCXbnmV/MCFaebXYmYXpQvBD7l+mf3OOKqPcZdmGxf8z/B3e9oPjQOnAhtTnMAY+HKWA/WEjS6mGmyDHEVOiY42SjIUGW+dEh00SstwOW6DnMqj5hjPc3ykwqu0YTks4uTU/fPZ12TwiGnDcjKfa0fUaVoLbXA/M4btUAP0Cx4ZnxzTmGIxHI56aTyFhmuCXYTfjYoq2gWbLxOw5RvQzRkVbgcbLCzD4ViGe0K8D96Dbv7dyX0OwP3cMhwN6znvrX+1zjo/Wlk/YhFeGAEAAAAASUVORK5CYII=');
    background-position: 98% center;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    .makeform select {
        font-size: 16px;
        width: 100%;
    }
}

@media only screen and (max-width: 479px) and (min-width: 0px) {
    .makeform select {
        font-size: 16px;
        width: 100%;
    }
}

.makeform textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    outline: none;
    background: #f6f6f6;
    border: 1px solid #dedede;
    color: #464646;
    resize: vertical;
    height: 43px;
}

.makeform textarea:hover {
    background: #ececec;
}

.makeform textarea:active {
    background: #ececec;
}

.makeform__name {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.makeform__name input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    outline: none;
    background: #f6f6f6;
    border: 1px solid #dedede;
    color: #464646;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.makeform__name input:hover {
    background: #ececec;
}

.makeform__name input:active {
    background: #ececec;
}

.makeform__phone {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.makeform__phone input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    display: block;
    margin: 5px 0;
    outline: none;
    background: #f6f6f6;
    border: 1px solid #dedede;
    color: #464646;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.makeform__phone input:hover {
    background: #ececec;
}

.makeform__phone input:active {
    background: #ececec;
}

.makeform__message {
    display: block;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
}

.makeform .statusMessages {
    display: none;
}

.makeform .error {
    background-color: #fff0f0;
}

.makeform__agreement {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    padding: 0 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    margin: 8px 0;
    color: #777777;
    text-align: center;
}

.makeform__agreement .description {
    display: inline;
}

.makeform__agreement a {
    color: #777777;
}

.makeform__actions {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    text-align: center;
    padding: 0 20px 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.makeform__actions button {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #d82043;
    border: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
    -moz-box-shadow: 2px 3.464px 2.88px 0.12px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 2px 3.464px 2.88px 0.12px rgba(0, 0, 0, 0.09);
    box-shadow: 2px 3.464px 2.88px 0.12px rgba(0, 0, 0, 0.09);
    padding: 10px 20px;
    margin-right: 10px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-transform: uppercase;
}

.makeform__actions button:hover {
    background-color: #c11d3c;
}

.makeform__actions button:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #b01a37;
}

.menuNormPage {
    background: white;
    border: 1px solid #dde2e7;
    padding: 20px 0;
    margin-bottom: 20px;
    -moz-box-shadow: 4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 6.928px 23.04px 0.96px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 325px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menuNormPage__list {
    padding-left: 10px;
}

.menuNormPage__element {
    display: block;
}

.menuNormPage__linck {
    display: block;
    padding: 8px 25px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    color: #727272;
    font-weight: bold;
    font-family: "ralewayregular", sans-serif;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.menuNormPage__linck:hover {
    color: #ca1e3e;
}

.menuNormPage__linck.is-active {
    color: #d82043;
}
.button_red {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    background-color: #d82043;
    -moz-box-shadow: 2px 3.464px 2.88px 0.12px rgba(0,0,0,0.09);
    -webkit-box-shadow: 2px 3.464px 2.88px 0.12px rgb(0 0 0 / 9%);
    box-shadow: 2px 3.464px 2.88px 0.12px rgb(0 0 0 / 9%);
    padding: 10px 20px;
    margin:auto;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-transform: uppercase;
    border: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
}