.bx-rating {
	color: #fcee2c !important;
	font-size: 13px;
	white-space: nowrap;
}
.bx-rating i.fa {
	cursor: pointer;
}
.fa.bx-star-active {
	color: #fc8214 !important;
}
.fa-star-o::before {
	color: #dcdedc !important;
	content: "\f005" !important;
}
.bx-star-active.fa-star-o::before {
	color: #fc8214 !important;
}