.title_norm {
    margin-top: 0px !important;
    padding-left: 0px !important;
}
.foto_vraca {
    width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100px;
}
.articlesPage__titleText {
    padding-left: 15px !important;
}
.pluso-more{display:none !important;}
.timeto{float:right}