.title_norm {
    margin-top: 0px !important;
    padding-left: 0px !important;
}
.foto_vraca {
    width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 100px;
}
.articlesPage__titleText {
    padding-left: 15px !important;
}
.pluso-more{display:none !important;}
.timeto{float:right}

#toTop {
    width: 40px;
    height: 170px !important;
    border-radius: 5px;
    background: #d82043;
    text-align: center;
    padding: 48px 1px 5px 4px;
    position: fixed;
    bottom: 30%;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 14px;
    z-index: 1;
}

.toTop {
    transform: rotate(90deg);
}