.advantages__title_wrapper {
    background-color: #D82044;
    margin: -10px -15px;
    height: 300px;
}
.advantages .title__text {
    font-weight: 600;
    font-family: "Myriad Pro", sans-serif;
}
.title__text_upper {
    font-size: 55px;
    line-height: 60px;
    margin-bottom: 5px;
}
.title__text_bottom {
    font-size: 32px;
    line-height: 36px;
}
.advantage__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: -141px 17% 50px;
    row-gap: 60px;
    column-gap: 10px;
}
.advantage__card_wrapper {
    flex: 0 0 auto;
    width: 30%;
    box-sizing: border-box;
    padding :0 30px;
}
.advantage__card {
    background-color: #F1F1F1;
    padding: 20px 30px;
    min-height: 300px;
    text-align: center
}
.advantage__card_body {
    font-family: "Myriad Pro", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 468px;
    margin: 23px auto 0 auto;
}
.advantage__card_title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.advantage__card_header {
    height: 120px;
}
.advantage__card_image {
    margin-bottom: 13px;
}
.advantage__card hr {
    border: none;
    color: #4FAFF5;
    background-color: #4FAFF5;
    height: 3px;
    width: 91px;
    margin: 0 auto;
}
@media (max-width: 1024px) {
    .advantage__card_wrapper {
        flex: 0 0 auto;
        width: 50%;
        box-sizing: border-box;
        padding :0 10px;
    }
    .title__text_upper, .title__text_bottom {
        font-size: 20px;
        line-height: 22px;
    }
    .advantages .title_homeWhite .title__br {
        max-width: 50px;
        height: 1px;
        width: 100%;
        background: white;
    }
    .advantages__title_wrapper {
        height: 200px;
    }
    .advantage__list {
        margin: -70px 0 0;
        row-gap: 30px;
    }
    .advantage__card_title, .advantage__card_body {
        font-size: 18px;
        line-height: normal;
    }
}
@media (max-width: 767px) {
    .advantage__card_wrapper {
        width: 100%;
    }
}
@media (max-width: 360px) {
    .advantage__list {
        margin: -50px -10px 0;
        row-gap: 25px;
    }
}
.advantage__card:hover {
    padding-left: 0;
    padding-right: 0;
}
.advantage__card:hover img {
    width: 65px;
    height: 65px;
}
.advantage__card:hover .advantage__card_title {
    font-size: 26px;
    font-weight: 800;
    color: #EB3223;
}
.advantage__card:hover .advantage__card_body {
    font-size: 22px;
    line-height: 26px;
}